<div class="nav-contain">
    <nav class="navigation">
        <ul>
            <li><a href="/notes"><img src="/images/home.svg" alt="home icon"></a></li>
            <li><a class="plus" href="/new-note">+</a></li>
        </ul>
    </nav>
</div>