<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <section class="content">
        <h2>404 Page Not Found... Oops</h2>
        <h3>Looks like that page does not exist.</h3>
    </section>
    <%- include('./partials/footer.ejs') %>
</body>
</html>